################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .vs
/src/.vs

# FindInViewModelExtension
/src/FindInViewModel/bin
/src/FindInViewModel/obj
/src/FindInViewModelExtension/bin
/src/FindInViewModelExtension/obj

# GoToViewXamlExtension
/src/GoToViewXamlExtension/bin
/src/GoToViewXamlExtension/obj
